<phpunit>
    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
        <extension class="Symfony\Component\Panther\ServerExtension"/>
    </extensions>
</phpunit>